<div class="about-container">
    <div class="about-image">
      <img src="https://i.pinimg.com/736x/bb/7e/e4/bb7ee447c234fd4fdb363a3521f8d128.jpg" alt="about">
    </div>
  
    <div class="about-content">
      <h2>About Us</h2>
      <p>
        At our flower shop in Berndorf, Germany, we take pride in being the go-to destination for flower enthusiasts, offering an exceptional floral experience in a cozy and inviting atmosphere. Here, guests can explore vibrant blooms, relax amidst enchanting fragrances, and enjoy their time surrounded by the beauty and serenity of nature.
      </p>
      <div class="social-links">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  