<mat-toolbar color="primary" class="toolbar">
  <h2 class="toolbar-title">🌸FLORISTERIA</h2>
  <div class="toolbar-links">
    <span routerLink="/home" class="link-button">Home</span>
    <span routerLink="/about" class="link-button">About</span>
    <span routerLink="/flowers" class="link-button">Flowers</span>
    <span routerLink="/symbole" class="link-button">symbolisme</span>
    <span routerLink="/saison" class="link-button">saison</span>
    <span routerLink="/liv" class="link-button">📦livraison</span>
    <span routerLink="/contact" class="link-button">Contact</span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>