<!-- special-bouquets.component.html -->
<div class="special-bouquets-container">
    <h2>Special smells <br>Special Bouquets</h2>
    <h3>Unique bouquets with enchanting fragrances for every special moment.</h3>
    <p>
      Welcome to our flower paradise, where vibrant colors and enchanting scents come together to tell a unique story with every bloom. Each petal carries a moment of beauty, and every fragrance breathes life, adding a touch of happiness and joy to your days.🌸
    </p>
  </div>
  
  <div class="actions">
    <a routerLink="/order" class="action-button">Order Now</a>
    <a routerLink="/contact" class="action-button">Contact Us</a>
  </div>
